header, footer{
    background-color: rgb(75, 100, 185);
    color: aliceblue;
    display: block;
    height: 50px;
}
nav {
    text-align: right; 
    position: relative;
    top: 25px;
}
a{
    color: aliceblue;
}
body { 
text-align: center; 
font-family: Arial, Helvetica, sans-serif;
background-color: aliceblue;
}
li{
display: inline;
}
h1, h2, h3 {
    text-align: center;
      
}

#main-section{

}
#contact-form{
    background-color: antiquewhite;
}